vendor
node_modules
.env
.env.local
bootstrap/cache/*
storage/logs/*
storage/app/public/*
*.sqlite
*.sqlite-wal
*.sqlite-shm
.git
.gitignore
README.md
.editorconfig
.env.example
composer.lock
package.json
package-lock.json
vite.config.js
tests
database/factories
database/seeders
